<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="java" arguments="-jar &quot;D:\home\site\wwwroot\app.jar&quot;">
            <!-- Optional configurations -->
            <environmentVariables>
                <environmentVariable name="JAVA_OPTS" value="" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
